# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

smnist/MNIST_data/
smnist_scaled/MNIST_data/
smnist_split/MNIST_data/

*.pkl
*.zip
*.tar
*.jpg
*.png
*.svg
*.pdf
*.gif
*.gz
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
